<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular data science libraries
* Evaluating arithmetic expressions in Python

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib
4. ggplot2
5. caret

# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools |
| -------------|
| Jupyter Notebook|
| RStudio |
| Spyder |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course).

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Celia Garc√≠a Rodrigo